@import "bourbon/bourbon"

body
	overflow-x: hidden
	font-family: 'Open Sans', sans-serif
	background-color: #eee

.nav-wrapper
	padding-left: 40px	
	padding-right: 40px

.brand-logo
	img
		height: 64px	

.landW
	+display(flex)
	+flex-direction(column)		
	min-height: 100vh
	margin-top: -64px
	padding-top: 64px!important

.landingWindow
	margin-bottom: 0px!important	

.mHeader
	+flex-grow(1)
	position: relative
	/*background:
		image: url('../images/back3.jpeg')
		repeat: no-repeat
		position: center center
		size: cover*/

.sButtons
	position: absolute
	width: 100%
	top: 50%
	+transform(translateY(-50%))

	h4
		margin: 0 0 15px 0
		text-transform: capitalize
		+animation(heading 1.0s ease-in)
		position: relative
		text-align: center
		color: #fff

	.formB
		padding: 12px
		background-color: rgba(#000, 0.7)
		border-top-left-radius: 3px
		border-top-right-radius: 3px
		max-width: 85%
		margin: 0 auto

		form
			position: relative
			+animation(formF 2s ease-in-out)
			height: 61px
			width: 100%

			input
				background-color: #fff
				width: inherit
				border-radius: 3px
				padding-left: 15px
				box-sizing: border-box
				border-bottom: 0px
				height: 61px
				margin: 0 auto

				@include placeholder
					color: #444
					opacity: 0.9
					text-transform: capitalize

	.eAll
		background-color: rgba(0,0,0,0.6)
		max-width: 85%
		margin: 0 auto
		padding: 10px
		color: #fff
		text-align: center
		border-bottom-left-radius: 3px			
		border-bottom-right-radius: 3px

		a
			text-decoration: none
			color: #fff

			&:hover
				text-decoration: underline
				color: #fff

		i
			font-size: 12.5px
			margin-left: 2px	

.enF
	margin-top: -64px
	padding-top: 64px!important

	h6
		font-weight: 600
		font-size: 18px
		margin: 25px auto 15px auto
		background-color: #37474f
		color: #ffffff
		padding: 10px 0
		border-radius: 3px
		max-width: 350px
		display: block

	.input-field
		label
			color: rgba(0,0,0,0.6)

	input[type='text']
		margin-bottom: 10px		

.submitF
	margin: 10px auto 0 auto
	display: block		
	text-transform: capitalize		

.blockC
	padding-top: 20px

.myDivider
	height: 4px!important
	background-color: rgba(255,255,255,0.8)		

.aContainer
	padding-top: 30px

.aCollege
	padding: 15px
	border-radius: 0px
	margin-bottom: 40px

	.imgC, .sideC
		display: inline-block	
		vertical-align: bottom

	.imgC
		margin-right: 20px
		position: relative
		margin-bottom: -5px

		figcaption
			position: absolute
			bottom: 5px
			padding: 5px 0
			left: 0
			right: 0
			text-align: center
			background-color: rgba(0,0,0,0.5)
			+transition(all 0.3s ease-out)

			a
				color: #fff
				text-decoration: none

				&:hover
					text-decoration: underline

			&:hover
				background-color: rgba(0,0,0,0.9)
				+transition(all 0.3s ease-in)

	.sideC
		max-width: 390px	

.flexC
	min-height: 305px			

.mTitle
	font-weight: 700

.location
	font-size: 13px
	font-weight: 400
	margin-left: -2px

	.tiny
		font-size: 13px
		font-weight: 400

.establish
	display: block
	font-weight: 600	

.cName, .cName:hover
	text-decoration: none

.cTitle
	font-weight: 600

.cList
	ul
		margin: 8px 0
		padding: 0 0 0 15px

.btn
	padding: 0px 1rem
	border-radius: 1px
	text-transform: capitalize	

.pContainer
	ul
		padding: 0px
		text-align: center

.btn-floating	
	i
		font-size: 1.3rem
		line-height: 38px

.divider
	height: 2px
	margin-bottom: 25px

.card-row
	padding: 3.5rem 0
	
.heading
	text-align: center	
	margin-top: 25px

.colorC
	min-height: 248px	
	color: #fff
	font-size: 27px
	text-align: right
	padding: 13px

.card-action
	text-align: center
	font-weight: 600

footer.page-footer.myFooter
	min-height: 230px
	position: relative

	.footer-copyright
		position: absolute
		bottom: 0
		width: 100%	
		text-align: center

	ul
		padding: 0 0 0  5px
		list-style: none

		li
			margin: 10px 0

			a
				color: #fff	
				font-size: 14px

.title
	width: 90%
	border-bottom: 2px solid #263238
	min-height: 30px

.titleB
	font-size: 15px
	text-transform: uppercase
	color: #ffffff
	border-bottom: 2px solid #e1a66c
	display: inline-block
	margin: 0px
	margin-bottom: -2px
	min-height: inherit

.rowFooter
	margin-bottom: 0px	

.foIcons
	padding-top: 25px

	a
		i
			width: 42px
			height: 42px
			line-height: 42px
			color: #fff
			text-align: center
			border-radius: 4px

		.fa-facebook
			margin-right: 5px
			background-color: #516ca4

		.fa-twitter
			margin-right: 5px
			background-color: #00baff

		.fa-google-plus
			background-color: #f20000			

+keyframes(heading)
	from
		opacity: 0
		left: -10px

	to
		opacity: 1	
		left: 0px

+keyframes(formF)
	from
		opacity: 0
		left: 20px

	to
		opacity: 1
		left: 0px

ul.autocomplete-content.dropdown-content
	width: 100%				