@media all and (max-width: 735px)
	.sButtons>.formB	
		max-width: 80%

	.sButtons>.eAll
		max-width: 80%	

@media all and (max-width: 610px)
	.sButtons
		.formB, .eAll
			max-width: 88%

	.nav-wrapper
		padding-left: 20px

	.footerFirst
		margin-bottom: 15px

	footer.page-footer.myFooter
		min-height: 360px		

@media all and (max-width: 460px)
	.sButtons
		.formB, .eAll
			max-width: 94%
@media all and (min-width: 1400px)
	.landW
		min-height: 664px

	.bannerF
		height: 664px			

@media all and (max-width: 992px)
	.parallax_no_padding
		padding-right: 0px!important	
