body {
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #eee; }

.nav-wrapper {
  padding-left: 40px;
  padding-right: 40px; }

.brand-logo img {
  height: 64px; }

.landW {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  min-height: 100vh;
  margin-top: -64px;
  padding-top: 64px !important; }

.landingWindow {
  margin-bottom: 0px !important; }

.mHeader {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  position: relative;
  /*background:
   * image: url('../images/back3.jpeg')
   * repeat: no-repeat
   * position: center center
   * size: cover */ }

.sButtons {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .sButtons h4 {
    margin: 0 0 15px 0;
    text-transform: capitalize;
    -webkit-animation: heading 1s ease-in;
    -moz-animation: heading 1s ease-in;
    animation: heading 1s ease-in;
    position: relative;
    text-align: center;
    color: #fff; }
  .sButtons .formB {
    padding: 12px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    max-width: 85%;
    margin: 0 auto; }
    .sButtons .formB form {
      position: relative;
      -webkit-animation: formF 2s ease-in-out;
      -moz-animation: formF 2s ease-in-out;
      animation: formF 2s ease-in-out;
      height: 61px;
      width: 100%; }
      .sButtons .formB form input {
        background-color: #fff;
        width: inherit;
        border-radius: 3px;
        padding-left: 15px;
        box-sizing: border-box;
        border-bottom: 0px;
        height: 61px;
        margin: 0 auto; }
        .sButtons .formB form input::-webkit-input-placeholder {
          color: #444;
          opacity: 0.9;
          text-transform: capitalize; }
        .sButtons .formB form input::-moz-placeholder {
          color: #444;
          opacity: 0.9;
          text-transform: capitalize; }
        .sButtons .formB form input:-moz-placeholder {
          color: #444;
          opacity: 0.9;
          text-transform: capitalize; }
        .sButtons .formB form input:-ms-input-placeholder {
          color: #444;
          opacity: 0.9;
          text-transform: capitalize; }
  .sButtons .eAll {
    background-color: rgba(0, 0, 0, 0.6);
    max-width: 85%;
    margin: 0 auto;
    padding: 10px;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
    .sButtons .eAll a {
      text-decoration: none;
      color: #fff; }
      .sButtons .eAll a:hover {
        text-decoration: underline;
        color: #fff; }
    .sButtons .eAll i {
      font-size: 12.5px;
      margin-left: 2px; }

.enF {
  margin-top: -64px;
  padding-top: 64px !important; }
  .enF h6 {
    font-weight: 600;
    font-size: 18px;
    margin: 25px auto 15px auto;
    background-color: #37474f;
    color: #ffffff;
    padding: 10px 0;
    border-radius: 3px;
    max-width: 350px;
    display: block; }
  .enF .input-field label {
    color: rgba(0, 0, 0, 0.6); }
  .enF input[type='text'] {
    margin-bottom: 10px; }

.submitF {
  margin: 10px auto 0 auto;
  display: block;
  text-transform: capitalize; }

.blockC {
  padding-top: 20px; }

.myDivider {
  height: 4px !important;
  background-color: rgba(255, 255, 255, 0.8); }

.aContainer {
  padding-top: 30px; }

.aCollege {
  padding: 15px;
  border-radius: 0px;
  margin-bottom: 40px; }
  .aCollege .imgC, .aCollege .sideC {
    display: inline-block;
    vertical-align: bottom; }
  .aCollege .imgC {
    margin-right: 20px;
    position: relative;
    margin-bottom: -5px; }
    .aCollege .imgC figcaption {
      position: absolute;
      bottom: 5px;
      padding: 5px 0;
      left: 0;
      right: 0;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .aCollege .imgC figcaption a {
        color: #fff;
        text-decoration: none; }
        .aCollege .imgC figcaption a:hover {
          text-decoration: underline; }
      .aCollege .imgC figcaption:hover {
        background-color: rgba(0, 0, 0, 0.9);
        -webkit-transition: all 0.3s ease-in;
        -moz-transition: all 0.3s ease-in;
        transition: all 0.3s ease-in; }
  .aCollege .sideC {
    max-width: 390px; }

.flexC {
  min-height: 305px; }

.mTitle {
  font-weight: 700; }

.location {
  font-size: 13px;
  font-weight: 400;
  margin-left: -2px; }
  .location .tiny {
    font-size: 13px;
    font-weight: 400; }

.establish {
  display: block;
  font-weight: 600; }

.cName, .cName:hover {
  text-decoration: none; }

.cTitle {
  font-weight: 600; }

.cList ul {
  margin: 8px 0;
  padding: 0 0 0 15px; }

.btn {
  padding: 0px 1rem;
  border-radius: 1px;
  text-transform: capitalize; }

.pContainer ul {
  padding: 0px;
  text-align: center; }

.btn-floating i {
  font-size: 1.3rem;
  line-height: 38px; }

.divider {
  height: 2px;
  margin-bottom: 25px; }

.card-row {
  padding: 3.5rem 0; }

.heading {
  text-align: center;
  margin-top: 25px; }

.colorC {
  min-height: 248px;
  color: #fff;
  font-size: 27px;
  text-align: right;
  padding: 13px; }

.card-action {
  text-align: center;
  font-weight: 600; }

footer.page-footer.myFooter {
  min-height: 230px;
  position: relative; }
  footer.page-footer.myFooter .footer-copyright {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; }
  footer.page-footer.myFooter ul {
    padding: 0 0 0 5px;
    list-style: none; }
    footer.page-footer.myFooter ul li {
      margin: 10px 0; }
      footer.page-footer.myFooter ul li a {
        color: #fff;
        font-size: 14px; }

.title {
  width: 90%;
  border-bottom: 2px solid #263238;
  min-height: 30px; }

.titleB {
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;
  border-bottom: 2px solid #e1a66c;
  display: inline-block;
  margin: 0px;
  margin-bottom: -2px;
  min-height: inherit; }

.rowFooter {
  margin-bottom: 0px; }

.foIcons {
  padding-top: 25px; }
  .foIcons a i {
    width: 42px;
    height: 42px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    border-radius: 4px; }
  .foIcons a .fa-facebook {
    margin-right: 5px;
    background-color: #516ca4; }
  .foIcons a .fa-twitter {
    margin-right: 5px;
    background-color: #00baff; }
  .foIcons a .fa-google-plus {
    background-color: #f20000; }

@-webkit-keyframes heading {
  from {
    opacity: 0;
    left: -10px; }
  to {
    opacity: 1;
    left: 0px; } }
@-moz-keyframes heading {
  from {
    opacity: 0;
    left: -10px; }
  to {
    opacity: 1;
    left: 0px; } }
@keyframes heading {
  from {
    opacity: 0;
    left: -10px; }
  to {
    opacity: 1;
    left: 0px; } }
@-webkit-keyframes formF {
  from {
    opacity: 0;
    left: 20px; }
  to {
    opacity: 1;
    left: 0px; } }
@-moz-keyframes formF {
  from {
    opacity: 0;
    left: 20px; }
  to {
    opacity: 1;
    left: 0px; } }
@keyframes formF {
  from {
    opacity: 0;
    left: 20px; }
  to {
    opacity: 1;
    left: 0px; } }
ul.autocomplete-content.dropdown-content {
  width: 100%; }

/*# sourceMappingURL=style.css.map */
